.card-list {
  display: grid;
  grid-gap: 20px;
  margin: 20px;

  @media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */ 
    grid-template-columns: 1fr;
  }
  @media (min-width:481px) { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width:641px) { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width:961px) { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  @media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
